<div id="fb-root"></div>
<script type="text/javascript">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "<%= @app['id'] %>",                     // App ID
      channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
      status     : true,                                    // check login status
      cookie     : true,                                    // enable cookies to allow the server to access the session
      xfbml      : true                                     // parse XFBML
    });

    // Listen to the auth.login which will be called when the user logs in
    // using the Login button
    FB.Event.subscribe('auth.login', function(response) {
      // We want to reload the page now so Ruby can read the cookie that the
      // Javascript SDK sat. But we don't want to use
      // window.location.reload() because if this is in a canvas there was a
      // post made to this page and a reload will trigger a message to the
      // user asking if they want to send data again.
      window.location = window.location;
    });

    FB.Canvas.setAutoGrow();
  };

  // Load the SDK Asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<header class="clearfix">
  <div>
    <h1>Bienvenido, <strong><%= @user['first_name'] %></strong></h1>
  </div>
</header>

<section id="guides" class="clearfix">
  <h1>Efemérides culturales argentinas</h1>
  <div class="image" style="text-align: center;"><img src="/icon.png" alt="Efemerides culturales"></div>
  <h2>Un <%= @user['birthday'].split("/")[1] %> de <%= num_to_month(@user['birthday'].split("/")[0]) %> de:</h2>
  <% if @events.empty? %>
    Parece que no paso nada :( Lo sentimos mucho.
  <% else %>
    <ul>
      <% @events.each do |event| %>
        <li>
          <div class="year"><%= event[:year]%></div>
          <div class='content'><%= event[:content]%></div>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class='share'>
    <p>Por favor, comparte efemérides culturales en:</p>
    <ul>
      <li>
        <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
          <span class="plus">Tu muro</span>
        </a>
      </li>
      <li>
        <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
          <span class="speech-bubble">Mensajes</span>
        </a>
      </li>
      <li>
        <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
          <span class="apprequests">Recomendaciones</span>
        </a>
      </li>
    </ul>
  </div>
  <div class='thanks'>
    Gracias!
  </div>
</section>
